.navbar a:hover {
    background-color: #C4E4F5;
    
}

.navbar a:active {
    background-color:#354a54;
}

.navbar {
    padding-bottom: 10px;
    font-size: 20px;
}

body {
    margin: 0;
    font-family: 'Dosis', sans-serif;
    color: antiquewhite;
}

.containertop {
    padding: 10em;
    background-color: #5c4a2e;
    background-image: url(./images/autumndog.jpeg);
    background-blend-mode: lighten;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    padding-top: 15%;
    padding-bottom: 15%;
}

h1 {
    font-size: 5em;
    text-align: center;
}

.containermiddle {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: white;
}

.textbox {
    background-color: #98afba;
    display: flex;
    justify-content: right;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.containermiddle img {
    height: 500px;
    border-radius: 15%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 1%;
}

.aboutmetext {
    float: left;
    margin: 0px;
    color: whitesmoke;

}

h2 {
    font-size: 60px;
    text-align: center;
}

p {
    font-size: 25px;
    text-align: center;
}

.meetdogs {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: white;
}

.meetourdogs {
    background-color: #98afba;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    text-align: center;

}

a img { 
    border: 2px whitesmoke dashed; border-radius: 10px; padding: 10px;
}

.desc {
    color: whitesmoke;
    font-size: 40px;
}
.containerbottom {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    background-color: white;
}

.advicelink {
    background-color: #98afba;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 200px;
    float:left;
    text-align: center;

}

.contactus {
    background-color: #98afba;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    text-align: center;
}

#footer {
    font-size: 20px;
}

#footer a:hover {
    background-color: #C4E4F5;
}

#hover a:active {
    background-color: #354a54;
}